[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
pyyaml = "*"
watchdog = "*"
python-frontmatter = "*"
markdown = "*"
beautifulsoup4 = "*"
html2text = "*"
html2markdown = "*"
markdownify = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.12"
